@charset "UTF-8";
@import url("font.css");

* {
    margin: 0;
    padding: 0;
    font-size: 10px;
}

ul li {
    list-style: none;
}

a {
    color: #333;
    text-decoration: none;
}

button {
    border: none;
    background: none;
    cursor: pointer;
}

/* 헤더 */

header {
    width: 100vw;
    overflow: hidden;
}

.header_warp {
    position: relative;
    z-index: 1;
}

.nav_warp {
    padding-top: 35px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background: #fff;
    height: auto;
    box-sizing: border-box;
}

.nav {
    width: 1440px;
    margin: 0 auto;
    position: relative;
}

.nav_top {
    width: 1440px;
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 20px;
}

h1 {
    margin: 0 auto;
}

.nav_top h1:nth-child(2) {
    display: none;
}

.nav_top img {
    margin-right: 12px;
}

.nav_top h1 {
    width: 270px;
}

.nav_my {
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
    bottom: 0;
}

.nav_my a {
    font-family: "pretendard regular";
    font-size: 16px;
    color: #333;
    display: flex;
}

.nav_my a:last-child {
    margin-left: 30px;
}


.nav>span {
    display: block;
    width: 100%;
    border-top: solid 1px #333;
}


.gnb {
    display: flex;
    align-items: center;
}

.nav_bottom ul {
    width: 80%;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.nav_title {
    width: 170px;
    height: 70px;
}

.nav_bottom li a {
    width: 100%;
    height: 100%;
    font-family: "pretendard regular";
    font-size: 22px;
    color: #333;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_bottom_img {
    position: absolute;
    right: 0;
    top: 77%;
    display: flex;
    align-items: center;
    transform: translate(0, -50%);
}

.nav_bottom_img_hover {
    position: absolute;
    right: 0;
    align-items: center;
}

.nav_bottom_img img {
    margin-left: 40px;
}

.nav_title:hover>a,
.nav_title:focus-within>a {
    font-family: "pretendard bold";
    border-bottom: 3px solid #DE0078;
    box-sizing: border-box;
}

.nav_title.active>a {
    font-family: "pretendard bold";
    border-bottom: 3px solid #DE0078;
    box-sizing: border-box;
}


.gnb {
    position: relative;
}

.nav_hover {
    position: absolute;
    left: 50%;
    top: 70px;
    transform: translate(-50%, 0);
    display: none;
    width: 100vw;
    height: auto;
    background: #000;
}

.nav_title:hover>.nav_hover,
.nav_title:focus>.nav_hover {
    display: block;
}
.nav_hover_warp {
    display: flex;
    position: relative;
    padding: 10px 0 20px 0;
    justify-content: center !important;
    align-items: flex-start !important;
    gap: 80px;
}

.nav_hover_warp li {
    display: flex;
    flex-direction: column;
}

.nav_hover_warp li > a:first-child {
    font-family: "pretendard regular";
    font-size: 18px;
    color: #fff;
    margin-bottom: 5px;
}

.nav_hover_warp li a {
    font-family: "pretendard regular";
    font-size: 15px;
    color: #fff;
    margin-top: 14px;
    justify-content: flex-start !important;
}

.nav_hover_warp a:hover {
    color: #DE0078 !important;
}





.header_img {
    width: 100%;
    height: 270px;
    background: url("../image/sub_visual.png");
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_img b {
    font-family: "pretendard black";
    font-size: 75px;
    color: #fff;
}




.snb_warp {
    width: 100%;
    height: 80px;
    background: #f4f4f4;
}

.snb {
    width: 1440px;
    height: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.snb_left {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.snb_left p, .snb_left b {
    font-family: "pretendard regular";
    font-size: 20px;
}

.snb_home {
    width: 80px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.snb_home::after , .snb_home::before {
    height: 80px;
    content: "";
    border-right: 1px solid #d8d8d8;
    margin: auto 25px auto 25px;
}

.snb_map::after {
    height: 80px;
    content: "";
    border-right: 1px solid #d8d8d8;
    margin-left: 40px;
}

.snb_map {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px 0 30px;
    box-sizing: border-box;
}

.snb_map a {
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.snb_map a::after { 
    content: "";
    width: 12px;
    height: 22px;
    background: url("../image/small_arrow_bottom.png") no-repeat center center;
    padding-right: 30px;
}

.snb_map a::after:last-child {
    background: none !important;
}


.snb_right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.snb_right div {
    margin-right: 25px;
}

/* 메인 */
main {
    margin: 130px 0 150px 0;
}
.select {
    display: flex;
    justify-content: center;
}

.select div:nth-child(1) {
    width: 320px;
    height: 60px;
    border: #cdcdcd solid 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.select div:nth-child(2) {
    width: 320px;
    height: 60px;
    border-top: #cdcdcd solid 1px;
    border-bottom: #cdcdcd solid 1px;
    border-left: #fff solid 1px;
    border-right: #cdcdcd solid 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.select div.active {
    background: #DE0078;
    border: #DE0078 solid 1px;
}

.select div p {
    font-family: "pretendard regular";
    font-size: 20px;
}

.select div.active {
    color: #fff;
}



.maner_warp {
    width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 70px;
    margin-top: 70px;
}

.maner_warp h2 {
    font-family: "tenada";
    font-size: 40px;
    display: flex;
    align-items: center;
}

.maner_warp h2::after {
    content: "";
    flex-grow: 1;
    border-top: 1px solid #808080;
    margin-left: 40px;
    margin-bottom: 10px;
}

.maner {
    display: flex;
    margin-left: 180px;
    flex-direction: column;
}

.maner::after {
    content: "";
    flex-grow: 1;
    border-top: 1px solid #808080;
    padding-left: 40px;
    margin-bottom: 10px;
    margin-top: 70px;
}

.maner_list_warp {
    display: flex;
    flex-direction: row;
}

.maner_img {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
}

.maner_text {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-left: 50px;
}

.maner_text h3 {
    font-family: "pretendard black";
    font-size: 32px;
}

.maner_text ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.maner_text li {
    font-family: "pretendard regular";
    font-size: 20px;
}

.maner_text li::before {
    content: url("../image/sub_circle.png");
    width: 20px;
    height: 20px;
    margin-right: 20px;
}




/* 푸터 */

.footer_top {
    width: 100%;
    height: 60px;
    background: #E4E4E4;
    display: flex;
}

.footer_top ul {
    width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_top ul>li {
    font-family: "pretendard regular";
    font-size: 18px;
    display: flex;
    width: 250px;
    justify-content: space-between;
    align-items: center;
}

.footer_top li::after {
    content: "";
    border-right: #808080 solid 1px;
    height: 35px;
}

.footer_top li:last-child::after {
    border-right: none;
}

.footer_top li>img {
    padding-left: 100px;
}

.footer_bottom {
    width: 1440px;
    margin: 40px auto 40px auto;
    display: flex;
    flex-direction: row;
    align-items: start;
}

.footer_bottom img {
    margin-right: 45px;
}

.footer_01 {
    display: flex;
}

.footer_01 li,
.footer_02 li,
.footer_bottom p {
    margin-right: 20px;
    font-family: "pretendard regular";
    font-size: 16px;
    color: #808080;
}

.footer_01 li,
.footer_02 li {
    margin-bottom: 15px;
}

.footer_01 li:first-child {
    font-family: "pretendard bold";
    color: #DE0078;
}

.footer_01 li::after {
    content: "";
    border-right: #cdcdcd solid 1px;
    height: 15px;
    padding-right: 20px;
}

.footer_01 li:last-child::after {
    border: none;
}

.footer_02 {
    display: flex;
}