@charset "UTF-8";
@import url("font.css");

* {
    margin: 0;
    padding: 0;
    font-size: 10px;
}

ul li {
    list-style: none;
}

a {
    color: #333;
    text-decoration: none;
}

h2 {
    font-family: "tenada";
    font-size: 45px;
}

/* 헤더 */

header {
    height: 100vh;
    overflow: hidden;
}

.header_warp {
    position: relative;
    z-index: 1;
}

.nav_warp {
    padding-top: 35px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    backdrop-filter: blur(10px);
    background: rgba(0,0,0,0.10);
    height: auto;
    box-sizing: border-box;
    z-index: 30;
}

.nav {
    width: 1440px;
    margin: 0 auto;
    position: relative;
}

.nav_top {
    width: 1440px;
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 20px;
}

h1 {
    margin: 0 auto;
}

.nav_top h1:nth-child(2) {
    display: none;
}

.nav_top img {
    margin-right: 12px;
}

.nav_top h1 {
    width: 270px;
}

.nav_my {
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
    bottom: 0;
}

.nav_my a {
    font-family: "pretendard regular";
    font-size: 16px;
    color: #fff;
    display: flex;
}

.nav_my a:last-child {
    margin-left: 30px;
}


.nav>span {
    display: block;
    width: 100%;
    border-top: solid 1px #fff;
}


.gnb {
    display: flex;
    align-items: center;
}

.nav_bottom ul {
    width: 80%;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.nav_title {
    width: 170px;
    height: 70px;
}

.nav_bottom li a {
    width: 100%;
    height: 100%;
    font-family: "pretendard regular";
    font-size: 22px;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_bottom_img {
    position: absolute;
    right: 0;
    top: 77%;
    display: flex;
    align-items: center;
    transform: translate(0, -50%);
}

.nav_bottom_img_hover {
    position: absolute;
    right: 0;
    align-items: center;
}

.nav_bottom_img img {
    margin-left: 40px;
}

.nav_title:hover>a,
.nav_title:focus-within>a {
    font-family: "pretendard bold";
    border-bottom: 3px solid #DE0078;
    box-sizing: border-box;
}

.nav_title.active>a {
    font-family: "pretendard bold";
    border-bottom: 3px solid #DE0078;
    box-sizing: border-box;
}


.gnb {
    position: relative;
}

.nav_hover {
    position: absolute;
    left: 50%;
    top: 70px;
    transform: translate(-50%, 0);
    display: none;
    width: 100vw;
    background: #000;
    z-index: 60;
}


.nav_title:hover>.nav_hover,
.nav_title:focus-within>.nav_hover {
    display: block;
}

.nav_hover_warp {
    display: flex;
    position: relative;
    padding: 10px 0 20px 0;
    justify-content: center !important;
    align-items: flex-start !important;
    gap: 80px;
}

.nav_hover_warp li {
    display: flex;
    flex-direction: column;
}

.nav_hover_warp li > a:first-child {
    font-family: "pretendard regular";
    font-size: 18px;
    color: #fff;
    margin-bottom: 5px;
}

.nav_hover_warp li a {
    font-family: "pretendard regular";
    font-size: 15px;
    color: #fff;
    margin-top: 14px;
    justify-content: flex-start !important;
}

.nav_hover_warp a:hover {
    color: #DE0078 !important;
}










.visual_img {
    position: relative;
    height: 100vh;
}

.visual_img img {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.visual_img ul {
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: end;
    right: 60px;
    bottom: 95px;
}

.visual_img li {
    font-family: "pretendard regular";
    font-size: 18px;
    color: #fff;
}

.visual_img b {
    font-family: "pretendard bold";
    font-size: 23px;
    color: #fff;
}

.visual {
    width: 100%;
    position: absolute;
    bottom: 0;
}




.bx-wrapper .bx-controls-auto .bx-controls-auto-item,
.bx-wrapper .bx-pager-item {
    display: inline-block;
    vertical-align: bottom
}

.bx-wrapper .bx-pager.bx-default-pager a {
    background: rgba(168, 168, 168, 70) !important;
    text-indent: -9999px;
    display: block;
    width: 20px !important;
    height: 20px !important;
    margin: 0 10px !important;
    outline: 0;
    -moz-border-radius: 100% !important;
    -webkit-border-radius: 100% !important;
    border-radius: 100% !important;
}

.bx-pager.bx-default-pager {
    position: absolute;
    display: flex;
    justify-content: end;
    margin-bottom: 80px;
    right: 50px;
}

.bx-wrapper .bx-pager.bx-default-pager a.active,
.bx-wrapper .bx-pager.bx-default-pager a:focus,
.bx-wrapper .bx-pager.bx-default-pager a:hover {
    background: #DE0078 !important;
}





/* 메인 */

.reservation {
    width: 1440px;
    margin: 100px auto 100px auto;
}

.reservation_warp {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.reservation_bottom_warp {
    margin-top: 60px;
}

.reservation_01,
.reservation_02 {
    display: flex;
}

.reservation_02 {
    margin-top: 40px;
}

.reservation_01_img,
.reservation_02_img {
    width: 45px;
    height: 45px;
    background: #DE0078;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reservation_01_text,
.reservation_02_text {
    display: flex;
    margin-top: 5px;
}

.reservation_01 p {
    font-family: "pretendard black";
    font-size: 20px;
    margin-left: 20px;
    margin-right: 45px;
}

.reservation_02 p {
    font-family: "pretendard black";
    font-size: 20px;
    margin-left: 20px;
    margin-right: 27px;
}

.reservation_01 li {
    font-family: "pretendard regular";
    font-size: 20px;
    margin-right: 40px;
}

.reservation_02 li {
    font-family: "pretendard regular";
    font-size: 20px;
}

.reservation_02 a {
    width: 190px;
    height: 45px;
    background: #f4f4f4;
    border-radius: 22.5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 75px;
    padding: 20px;
    box-sizing: border-box;
    margin-top: -5px;
    font-family: "pretendard regular";
    font-size: 20px;
}

.reservation_02 li>img {
    margin-bottom: 5px;
}



.reservation_button {
    display: flex;
    justify-content: end;
    margin-top: 50px;
}

.reservation_button a {
    width: 140px;
    height: 160px;
    box-sizing: border-box;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.09);
    -webkit-box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.09);
    -moz-box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.09);
    border: none;
    margin-left: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 35px 0 25px 0;
    position: relative;
}

.reservation_button a:nth-child(1) {
    padding-top: 35px;
    background: url("../image/performance.png") no-repeat center 30%;
    transition: 0.3s ease;
}

.reservation_button a:nth-child(2) {
    padding-top: 35px;
    background: url("../image/rental.png") no-repeat center 30%;
    transition: 0.3s ease;
}

.reservation_button a:nth-child(3) {
    padding-top: 35px;
    background: url("../image/seat.png") no-repeat center 30%;
    transition: 0.3s ease;
}

.reservation_button a:nth-child(4) {
    padding-top: 35px;
    background: url("../image/map.png") no-repeat center 30%;
    transition: 0.3s ease;
}

.reservation_button a:nth-child(5) {
    padding-top: 35px;
    background: url("../image/review.png") no-repeat center 30%;
    transition: 0.2s ease;
}

.reservation_button p {
    position: absolute;
    bottom: 25px;
    font-family: "pretendard regular";
    font-size: 18px;
}

.reservation_button a:hover {
    font-family: "pretendard bold";
    color: #fff;
}

.reservation_button a:nth-child(1):hover {
    background: #DE0078 url("../image/performance_ft.png") no-repeat center 30%;
}

.reservation_button a:nth-child(2):hover {
    background: #DE0078 url("../image/rental_ft.png") no-repeat center 30%;
}

.reservation_button a:nth-child(3):hover {
    background: #DE0078 url("../image/seat_ft.png") no-repeat center 30%;
}

.reservation_button a:nth-child(4):hover {
    background: #DE0078 url("../image/map_ft.png") no-repeat center 30%;
}

.reservation_button a:nth-child(5):hover {
    background: #DE0078 url("../image/review_ft.png") no-repeat center 30%;
}








.exhibition_warp {
    width: 100%;
    background: #F3F3F3;
    background: linear-gradient(180deg, rgba(243, 243, 243, 1) 100%, rgba(220, 220, 220, 1) 100%);
    margin: 100px auto 100px auto;
}

.exhibition {
    width: 1550px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-top: 100px;
}

.exhibition h2 {
    width: 1440px;
    margin: 0 auto;
}

.exhibition_top {
    width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.exhibition_top p {
    font-family: "pretendard regular";
    font-size: 20px;
    color: #808080;
}

.exhibition_top a {
    width: 200px;
    height: 60px;
    background: #fff;
    box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.10);
    -webkit-box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.10);
    -moz-box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.10);
    border-radius: 33px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 28px 0 28px;
    box-sizing: border-box;
    font-family: "pretendard regular";
    font-size: 20px;
}

.exhibition_bottom {
    margin: 0px auto;
    max-width: 1440px;
}










.wrapper {
    margin: 0px auto;
    max-width: 1600px;
    width: calc(100% - 80px)
}

.msg {
    display: block;
    font-size: 0px;
}

.slick-scrollbar {
    width: 660px;
    margin: 60px auto 60px auto;
}

.slick div > img {
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
}

.slick-slide {
    padding: 20px;
}

.slick-slide img {
    max-width: 100%;
}

.slick-list {
    cursor: grab;
}

.slick-list:active {
    cursor: grabbing;
}

.slick-disabled {
    cursor: default !important;
}

.slick-dots{
    display:none !important;
}

.slick-prev,
.slick-next {
    top: calc(50% - 20px) !important;
}

.slick-track {
    transition: .3s cubic-bezier(.4, 0, .2, 1);
}



.slick-scrollbar {
    input[type=range] {
        -webkit-appearance: none;
        margin: 10px 0;
        width: 100%;
    }

    input[type=range]:focus {
        outline: none;
    }

    input[type=range]::-webkit-slider-runnable-track {
        width: 660px;
        height: 10px;
        cursor: default;
        animate: 0.2s;
        background: #cacaca;
        border-radius: 100px;
    }

    input[type=range]::-webkit-slider-thumb {
        height: 10px;
        width: 130px;
        border-radius: 100px;
        background: #808080;
        cursor: grab;
        -webkit-appearance: none;
        margin-top: 0px;
    }

    input[type=range]::-webkit-slider-thumb:active,
    input[type=range]::-webkit-slider-thumb:focus {
        cursor: grabbing;
    }

    input[type=range]:focus::-webkit-slider-runnable-track {
        background: #DFDFDF;
    }

    input[type=range]::-moz-range-track {
        width: 100%;
        height: 4px;
        cursor: default;
        animate: 0.2s;
        box-shadow: 0px 0px 0px #b9b9b9;
        background: #DFDFDF;
        border-radius: 100px;
        border: 0px solid #b9b9b9;
    }

    input[type=range]::-moz-range-thumb {
        box-shadow: 0px 0px 1px #f2f2f2;
        border: 0px solid #c2c2c2;
        height: 4px;
        width: 50px;
        border-radius: 100px;
        background: #202741;
        cursor: grab;
    }

    input[type=range]::-moz-range-thumb:active,
    input[type=range]::-moz-range-thumb:focus {
        cursor: grabbing;
    }

    input[type=range]::-ms-track {
        width: 100%;
        height: 4px;
        cursor: default;
        animate: 0.2s;
        background: transparent;
        border-color: transparent;
        color: transparent;
        transition: transform .3s cubic-bezier(.4, 0, .2, 1);
    }

    input[type=range]::-ms-fill-lower {
        background: #DFDFDF;
        border: 0px solid #b9b9b9;
        border-radius: 100px;
        box-shadow: 0px 0px 0px #b9b9b9;
    }

    input[type=range]::-ms-fill-upper {
        background: #DFDFDF;
        border: 0px solid #b9b9b9;
        border-radius: 100px;
        box-shadow: 0px 0px 0px #b9b9b9;
    }

    input[type=range]::-ms-thumb {
        box-shadow: 0px 0px 1px #f2f2f2;
        border: 0px solid #c2c2c2;
        height: 4px;
        width: 50px;
        border-radius: 100px;
        background: #202741;
        cursor: grab;
    }

    input[type=range]::-ms-thumb:active,
    input[type=range]::-ms-thumb:focus {
        cursor: grabbing;
    }

    input[type=range]:focus::-ms-fill-lower {
        background: #DFDFDF;
    }

    input[type=range]:focus::-ms-fill-upper {
        background: #DFDFDF;
    }
}

.slick-dots {
    display: none !important;
}

.slick p {
    position: absolute;
    padding: 15px 27px 15px 27px;
    background: rgba(59, 59, 59, 70%);
    border-radius: 0 0 20px 0;
    font-family: "pretendard regular";
    font-size: 18px;
    color: #fff;
}

.slick div:nth-child(even) {
    margin-top: 40px;
}












.notice {
    width: 1440px;
    margin: 100px auto 100px auto;
    display: flex;
    position: relative;
}

.notice_top {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.notice_button {
    display: flex;
    padding-right: 35px;
}

.notice_button a {
    width: 155px;
    height: 60px;
    border: #000 solid 1px;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px 0 30px;
    box-sizing: border-box;
}

.notice_button p {
    font-family: "pretendard regular";
    font-size: 20px;
}



.notice_bottom {
    display: flex;
    overflow: auto;
}

.notice_wihte {
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0;
    background: #FFFFFF;
    background: linear-gradient(90deg,rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 90%, rgba(255, 255, 255, 1) 100%);
}

.notice_bottom::-webkit-scrollbar {
    display: none;
}

.notice_01,
.notice_02,
.notice_03 {
    width: 405px;
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    padding: 0 50px 0 50px;
}

.notice_01::after,
.notice_02::after {
    content: "";
    width: 1px;
    height: 100%;
    background: #808080;
    position: absolute;
    right: 0;
}

.notice_01 p,
.notice_02 p,
.notice_03 p {
    font-family: "pretendard regular";
    font-size: 20px;
    text-align: end;
}

.notice_01_warp,
.notice_02_warp,
.notice_03_warp {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.notice_01_warp div,
.notice_02_warp div,
.notice_03_warp div {
    width: 170px;
    height: 45px;
    font-family: "pretendard regular";
    font-size: 20px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}

.notice_01_warp div,
.notice_03_warp div {
    background: #6F1586;
}

.notice_02_warp div {
    background: #FF6B41;
}

.notice_01_warp b,
.notice_02_warp b,
.notice_03_warp b {
    font-family: "pretendard regular";
    font-size: 20px;
    color: #808080;
    font-weight: 400;
}







.gallery_warp {
    width: 100%;
    height: auto;
    background: #F4F4F4;
    margin: 100px auto 0px auto;
}

.gallery {
    width: 1440px;
    height: 240px;
    margin: 0 auto;
    padding: 80px 0 140px 0;
    display: flex;
    position: relative;
}

.gallery h2 {
    margin-top: 50px;
}

.slider1_warp .bx-wrapper {
    position: absolute;
    max-width: 1200px !important;
    right: -10px;
}

.slider1_warp .bx-viewport {
    height: 318px !important;
}

.slider1 {
    height: 318px !important;
}

.slider1 div:nth-child(even) {
    padding-top: 30px;
}

.slide {
    margin: 10px;
}




.slide a {
    width: 380px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide img {
    width: 380px !important;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.35);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.35);
}



.slide p {
    position: absolute;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: "pretendard regular";
    width: 340px;
    font-size: 16px;
    color: #fff;
    text-align: center;
    bottom: 10%;
    
}

.gallery_more {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    width: 55px;
    height: 55px;
    background: #DE0078;
    left: 145px;
    top: 200px;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.1);
}







/* 푸터 */

.footer_top {
    width: 100%;
    height: 60px;
    background: #E4E4E4;
    display: flex;
}

.footer_top ul {
    width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_top ul>li {
    font-family: "pretendard regular";
    font-size: 18px;
    display: flex;
    width: 250px;
    justify-content: space-between;
    align-items: center;
}

.footer_top li::after {
    content: "";
    border-right: #808080 solid 1px;
    height: 35px;
}

.footer_top li:last-child::after {
    border-right: none;
}

.footer_top li>img {
    padding-left: 100px;
}

.footer_bottom {
    width: 1440px;
    margin: 40px auto 40px auto;
    display: flex;
    flex-direction: row;
    align-items: start;
}

.footer_bottom img {
    margin-right: 45px;
}

.footer_01 {
    display: flex;
}

.footer_01 li,
.footer_02 li,
.footer_bottom p {
    margin-right: 20px;
    font-family: "pretendard regular";
    font-size: 16px;
    color: #808080;
}

.footer_01 li,
.footer_02 li {
    margin-bottom: 15px;
}

.footer_01 li:first-child {
    font-family: "pretendard bold";
    color: #DE0078;
}

.footer_01 li::after {
    content: "";
    border-right: #cdcdcd solid 1px;
    height: 15px;
    padding-right: 20px;
}

.footer_01 li:last-child::after {
    border: none;
}

.footer_02 {
    display: flex;
}