@charset "UTF-8";
@import url("font.css");

* {
    margin: 0;
    padding: 0;
    font-size: 10px;
}

ul li {
    list-style: none;
}

a {
    color: #333;
    text-decoration: none;
}

button {
    border: none;
    background: none;
    cursor: pointer;
}

/* 헤더 */


header {
    width: 100vw;
    overflow: hidden;
}

.header_warp {
    position: relative;
    z-index: 1;
}

.nav_warp {
    padding-top: 35px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background: #fff;
    height: auto;
    box-sizing: border-box;
}

.nav {
    width: 1440px;
    margin: 0 auto;
    position: relative;
}

.nav_top {
    width: 1440px;
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 20px;
}

h1 {
    margin: 0 auto;
}

.nav_top h1:nth-child(2) {
    display: none;
}

.nav_top img {
    margin-right: 12px;
}

.nav_top h1 {
    width: 270px;
}

.nav_my {
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
    bottom: 0;
}

.nav_my a {
    font-family: "pretendard regular";
    font-size: 16px;
    color: #333;
    display: flex;
}

.nav_my a:last-child {
    margin-left: 30px;
}


.nav>span {
    display: block;
    width: 100%;
    border-top: solid 1px #333;
}


.gnb {
    display: flex;
    align-items: center;
}

.nav_bottom ul {
    width: 80%;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.nav_title {
    width: 170px;
    height: 70px;
}

.nav_bottom li a {
    width: 100%;
    height: 100%;
    font-family: "pretendard regular";
    font-size: 22px;
    color: #333;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_bottom_img {
    position: absolute;
    right: 0;
    top: 77%;
    display: flex;
    align-items: center;
    transform: translate(0, -50%);
}

.nav_bottom_img_hover {
    position: absolute;
    right: 0;
    align-items: center;
}

.nav_bottom_img img {
    margin-left: 40px;
}

.nav_title:hover>a,
.nav_title:focus-within>a {
    font-family: "pretendard bold";
    border-bottom: 3px solid #DE0078;
    box-sizing: border-box;
}

.nav_title.active>a {
    font-family: "pretendard bold";
    border-bottom: 3px solid #DE0078;
    box-sizing: border-box;
}


.gnb {
    position: relative;
}

.nav_hover {
    position: absolute;
    left: 50%;
    top: 70px;
    transform: translate(-50%, 0);
    display: none;
    width: 100vw;
    height: auto;
    background: #000;
    z-index: 1000; 
}

.nav_title:hover>.nav_hover,
.nav_title:focus>.nav_hover {
    display: block;
}

.nav_hover_warp {
    display: flex;
    position: relative;
    padding: 10px 0 20px 0;
    justify-content: center !important;
    align-items: flex-start !important;
    gap: 80px;
}

.nav_hover_warp li {
    display: flex;
    flex-direction: column;
}

.nav_hover_warp li > a:first-child {
    font-family: "pretendard regular";
    font-size: 18px;
    color: #fff;
    margin-bottom: 5px;
}

.nav_hover_warp li a {
    font-family: "pretendard regular";
    font-size: 15px;
    color: #fff;
    margin-top: 14px;
    justify-content: flex-start !important;
}

.nav_hover_warp a:hover {
    color: #DE0078 !important;
}





.header_img {
    width: 100%;
    height: 270px;
    background: url("../image/sub_visual.png");
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_img b {
    font-family: "pretendard black";
    font-size: 75px;
    color: #fff;
}




.snb_warp {
    width: 100%;
    height: 80px;
    background: #f4f4f4;
}

.snb {
    width: 1440px;
    height: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.snb_left {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.snb_left p, .snb_left b {
    font-family: "pretendard regular";
    font-size: 20px;
}

.snb_home {
    width: 80px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.snb_home::after , .snb_home::before {
    height: 80px;
    content: "";
    border-right: 1px solid #d8d8d8;
    margin: auto 25px auto 25px;
}

.snb_map::after {
    height: 80px;
    content: "";
    border-right: 1px solid #d8d8d8;
    margin-left: 40px;
}

.snb_map {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px 0 30px;
    box-sizing: border-box;
}

.snb_map a {
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.snb_map a::after { 
    content: "";
    width: 12px;
    height: 22px;
    background: url("../image/small_arrow_bottom.png") no-repeat center center;
    padding-right: 30px;
}

.snb_map a::after:last-child {
    background: none !important;
}


.snb_right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.snb_right div {
    margin-right: 25px;
}

/* 메인 */

.select {
    display: flex;
    justify-content: center;
    margin-top: 130px;
}

.select div:nth-child(1),
.select div:nth-child(3) {
    width: 320px;
    height: 60px;
    border: #cdcdcd solid 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.select div:nth-child(2) {
    width: 320px;
    height: 60px;
    border-top: #cdcdcd solid 1px;
    border-bottom: #cdcdcd solid 1px;
    border-left: #fff solid 1px;
    border-right: #fff solid 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.select div.active {
    background: #DE0078;
    border: #DE0078 solid 1px;
}

.select div p {
    font-family: "pretendard regular";
    font-size: 20px;
}

.select div.active {
    color: #fff;
}

body {
    font-family: "Pretendard";
    background: #fff;
    color: #222;
    margin: 0;
    padding: 0;
}

.calendar-container {
    width: 1440px;
    margin: 130px auto;
    text-align: center;
}

/* 헤더 */
.calendar-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.calendar-header button {
    background: none;
    border: none;
    font-size: 40px;
    cursor: pointer;
    color: #444;
    margin: 0 60px;
}

#currentMonth {
    font-size: 64px;
}

/* 색상 범례 */
.legend {
    font-family: "pretendard bold";
    display: flex;
    justify-content: flex-end;
    gap: 40px;
    margin-bottom: 40px;
}

.legend div:nth-child(1) {
    color: #DE0078;
    font-size: 18px;
}

.legend div:nth-child(2) {
    color: #6F1586;
    font-size: 18px;
}

.legend div:nth-child(3) {
    color: #0E7B80;
    font-size: 18px;
}


.legend-item {
    display: flex;
    align-items: center;
    gap: 8px;
}

.legend-dot {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: inline-block;
}

.dot-show {
    background: #DE0078;
}

.dot-plan {
    background: #6F1586;
}

.dot-rent {
    background: #0E7B80;
}

/* 달력 */
table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    font-size: 16px;
}

th {
    padding: 12px 0;
    color: #333;
    border-bottom: 1px solid #808080;
}

td {
    border: 1px solid #E9E9E9;
    vertical-align: top;
    text-align: left;
    padding: 10px 12px;
    height: 160px;
    overflow: hidden;
    position: relative;
}

.cell-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
}

.date {
    font-weight: 600;
    font-size: 18px;
}

/* 요일 색상 */
th,
td {
    font-family: "pretendard bold";
    font-size: 18px;
}

td {
    overflow: visible;
}

th:nth-child(1),
td:nth-child(1) {
    color: #CD3434;
    font-family: "pretendard bold";
    font-size: 18px;
}

th:nth-child(7),
td:nth-child(7) {
    color: #2D28B5;
    font-family: "pretendard bold";
    font-size: 18px;
}

/* 일정 스타일 */
.event {
    display: flex;
    font-size: 16px;
    margin-top: 17px;
    align-items:center;
    position: relative;
}

.event-title {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: "pretendard bold";
    font-size: 15px;
}

.event-title:hover {
    color: #DE0078;
}

.event-dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 8px;
    flex-shrink: 0;
}

.show,
.plan,
.rent {
    color: #333;
    align-items: center;
}

.dot-show {
    background: #DE0078;
}

.dot-plan {
    background: #6F1586;
}

.dot-rent {
    background: #0E7B80;
}




.event-popover {
    position: absolute;
    transform: translateY(0);
    opacity: 0;
    pointer-events: none;
    transition: opacity .18s ease, transform .18s ease;
    z-index: 10;
    left: 23px !important;
}

.event-popover {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    transition: opacity .18s ease, transform .18s ease;
    z-index: 10;
}

.event.is-open .event-popover {
    opacity: 1;
    pointer-events: auto;
}

.popover-card {
    width: 250px;
    border-radius: 0 30px 30px 30px;
    box-shadow: 0 10px 28px rgba(0, 0, 0, .18);
    overflow: hidden;
    position: relative;
}

.popover-card img {
    width: 100%;
    display: block;
    position: relative;
}

.popover-card::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    /* 클릭 막지 않게 */
    background: linear-gradient(0deg,
            rgba(0, 0, 0, 1) 0%,
            rgba(0, 0, 0, 0) 50%,
            rgba(0, 0, 0, 0) 100%);
}

.popover-text {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    z-index: 100;
}

.popover-title {
    color: #fff;
    text-align: center;
    font-family: "pretendard bold";
    font-size: 16px;
}

.popover-btn {
    display: inline-block;
    padding: 7px 30px;
    border-radius: 999px;
    background: #DE0078;
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    font-family: "pretendard bold";
    font-size: 16px;
}

.popover-title {
    color: #fff;
}


main{
    position: relative;
}

.exhibition_warp {
    width: 1440px;
    margin: 0 auto 100px auto;
}

.exhibition_warp h2 {
    font-family: "tenada";
    font-size: 40px;
}

.exhibition_warp span {
    width: 1200px;
    height: 500px;
    background: #F4F4F4;
    position: absolute;
    right: 0;
    top: 1410px;
    border-top-left-radius: 300px;
}

.slick img {
    width: 320px;
    height: auto;
}

.wrapper {
    margin: 0px auto;
    max-width: 1600px;
    width: calc(100% - 80px)
}

.msg {
    display: block;
    font-size: 0px;
}

.slick div > img {
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
}

.slick-slide {
    padding: 20px;
}

.slick-slide img {
    max-width: 100%;
}

.slick-list {
    cursor: grab;
}

.slick-list:active {
    cursor: grabbing;
}

.slick-disabled {
    cursor: default !important;
}

.slick-dots{
    display:none !important;
}

.slick-prev,
.slick-next {
    top: calc(50% - 20px) !important;
}

.slick p {
    position: absolute;
    padding: 15px 27px 15px 27px;
    border-radius: 0 0 20px 0;
    font-family: "pretendard regular";
    font-size: 18px;
    color: #fff;
}
.plan_poster {background: rgba(111, 21, 134, 70%);}
.show_poster {background: rgba(222, 0, 120, 70%);}
.rent_poster {background: rgba(14, 123, 128, 70%);}

.slick div:nth-child(even) {
    margin-top: 25px;
}



/* 푸터 */

.footer_top {
    width: 100%;
    height: 60px;
    background: #E4E4E4;
    display: flex;
}

.footer_top ul {
    width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_top ul>li {
    font-family: "pretendard regular";
    font-size: 18px;
    display: flex;
    width: 250px;
    justify-content: space-between;
    align-items: center;
}

.footer_top li::after {
    content: "";
    border-right: #808080 solid 1px;
    height: 35px;
}

.footer_top li:last-child::after {
    border-right: none;
}

.footer_top li>img {
    padding-left: 100px;
}

.footer_bottom {
    width: 1440px;
    margin: 40px auto 40px auto;
    display: flex;
    flex-direction: row;
    align-items: start;
}

.footer_bottom img {
    margin-right: 45px;
}

.footer_01 {
    display: flex;
}

.footer_01 li,
.footer_02 li,
.footer_bottom p {
    margin-right: 20px;
    font-family: "pretendard regular";
    font-size: 16px;
    color: #808080;
}

.footer_01 li,
.footer_02 li {
    margin-bottom: 15px;
}

.footer_01 li:first-child {
    font-family: "pretendard bold";
    color: #DE0078;
}

.footer_01 li::after {
    content: "";
    border-right: #cdcdcd solid 1px;
    height: 15px;
    padding-right: 20px;
}

.footer_01 li:last-child::after {
    border: none;
}

.footer_02 {
    display: flex;
}