@font-face {
    font-family: "ns_regular";
    src: url("font/NotoSansKR-Regular.woff2") format("woff2"),
    url("font/NotoSansKR-Regular.woff") format("woff"),
    url("font/NotoSansKR-Regular.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "ns_semibold";
    src: url("font/NotoSansKR-SemiBold.woff2") format("woff2"),
    url("font/NotoSansKR-SemiBold.woff") format("woff"),
    url("font/NotoSansKR-SemiBold.ttf") format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: "power";
    src: url("font/강원교육튼튼.woff2") format("woff2"),
    url("font/강원교육튼튼.woff") format("woff"),
    url("font/강원교육튼튼.ttf") format("truetype");
    font-weight: normal;
}
