@charset "UTF-8";
@import url("font.css");


* {
    margin: 0;
    padding: 0;
    font-size: 10px;
}

ul li {
    list-style: none;
}

a {
    font-family: "ns_regular";
    font-size: 20px;
    color: #35081D;
    text-decoration: none;
}

p {
    font-family: "ns_regular";
    color: #333;
    text-decoration: none;
}

h2 {
    font-family: "power";
    font-size: 35px;
    color: #650A30;
}

body {
    -ms-overflow-style: none;
}

header {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.visual {
    width: 100vw;
    height: auto;
    position: relative;
}

.visual h2 {
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 50px;
}

.visual img {
    aspect-ratio: 16 / 3;
}














.nav_warp {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
    z-index: 10;
}

.nav_back {
    width: 100%;
    max-width: 1440px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav h1 img {
    width: 150px;
    height: 90px;
}

.nav_warp .logo-default {
    display: block;
    height: 90px;
    transition: all 0.4s ease;
}

.nav_warp .logo-scrolled {
    display: none;
    height: 65px;
    transition: all 0.4s ease;
}

.gnb {
    display: flex;
}

.gnb_title {
    padding: 0 60px 0 60px;
}

.nav a,
.nav p,
.gnb p {
    color: #fff;
    font-family: "ns_regular";
    font-size: 20px;
    transition: all 0.4s ease;
}

.hamburger {
    display: none;
}

.mobile-menu {
    display: none;
}




.nav ul.gnb {
    display: flex;
    list-style: none;
    align-items: center;
    height: 100%;
}

.nav ul.gnb>li {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
}

.dropdown-nav a {
    font-size: 16px;
    font-weight: 500;
    color: #650A30;
    text-decoration: none;
    display: inline-block;
}

.nav_warp:hover {
    height: 80px;
    background: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.nav_warp:hover .nav a,
.nav_warp:hover .nav p {
    color: #650A30;
}

.nav_warp:hover .logo-default {
    display: none;
}

.nav_warp:hover .logo-scrolled {
    display: block;
    height: 65px;
}

.nav_warp img {
    width: 150px;
    height: auto;
    object-fit: contain;
    transition: all 0.4s ease;
}

.nav .dropdown-nav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #fff;
    min-width: 180px;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 100;
}

.gnb li:nth-child(3)>ul {
    left: 25px !important;
}

.nav .dropdown-nav li {
    position: relative;
}

.nav .dropdown-nav li a {
    display: block;
    padding: 12px 16px;
    color: #333;
    text-decoration: none;
    transition: background 0.3s;
}

.nav .dropdown-nav li a:hover {
    background: #f5f5f5;
}

.nav ul.gnb>li:hover>.dropdown-nav {
    display: block;
}

.nav p {
    display: flex;
    align-items: center;
}

.dropdown-sub a {
    color: #666 !important;
    font-size: 14px;
}

.dropdown-sub a:hover {
    font-size: 16px;
}









.nav_warp.shrink {
    height: 80px;
    background: #fff url("../image/background.png") no-repeat;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.nav_warp.shrink .nav a,
.nav_warp.shrink .nav p {
    color: #35081D;
}

.nav_warp.shrink .logo-default {
    display: none;
}

.nav_warp .logo-scrolled {
    width: 150px;
    height: auto;
}

.nav_warp.shrink .logo-scrolled {
    display: block;
}

.nav_warp.shrink h1 img {
    width: 150px;
    height: auto;
    transition: transform 0.4s ease;
}

















footer {
    width: 100vw;
    height: auto;
    background: #35081D;
    scroll-snap-align: start;
    position: relative;
}

.footer {
    width: 1440px;
    padding: 50px 0 50px 0;
    margin: 0 auto;
    display: flex;
}

.footer_warp {
    margin-left: 70px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.footer h1 img {
    width: 150px;
    height: 90px;
}

.footer h1:nth-child(2) {
    display: none;
}

.footer li,
.footer p {
    font-family: "ns_regular";
    font-size: 14px;
    color: #fff;
}

.footer_list_01 {
    display: flex;
    gap: 60px;
}

.footer_list_02 li:nth-child(2),
.footer_list_02 li:nth-child(3),
.footer_list_03 li:nth-child(2),
.footer_list_03 li:nth-child(3) {
    color: #92707E;
}

.footer_list_02,
.footer_list_03 {
    display: flex;
    flex-direction: column;
    gap: 6px;
}








@media (max-width: 1600px) {
    .slider4 {
        height: 535px;
    }
}

@media (max-width: 1550px) {

    .nav,
    .menu_warp,
    .store_menu_warp,
    .store_info,
    .menu_list,
    .menu p,
    .store_menu_list,
    .store_menu_warp p,
    .footer {
        width: 90%;
        transition: all 0.4s ease;
    }

    .menu_list li:nth-child(5) {
        display: none;
    }

    .store_info_list li {
        padding: 5px 10px;
    }
}

@media (max-width: 1450px) {
    .nav {
        height: 130px;
    }

    .nav:hover {
        height: 80px;
    }

    .video {
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 1320px) {
    .nav_warp .logo-default {
        height: 80px;
    }

    .gnb_title {
        padding: 0 40px 0 40px;
    }

    .store_menu_list li:nth-child(5) {
        display: none;
    }
}

@media (max-width: 1200px) {
    .slider4 {
        height: 475px;
    }

    .menu_list li:nth-child(4) {
        display: none;
    }
}

@media (max-width: 1060px) {
    .gnb_title {
        padding: 0 30px 0 30px;
    }

    .gnb p {
        font-size: 18px;
    }

    .store_menu_list li:nth-child(4) {
        display: none;
    }
}

@media (max-width: 1023px) {

    html,
    body {
        height: auto;
        scroll-snap-type: none;
        overflow-x: hidden;
    }

    section {
        width: auto !important;
        height: auto;
        scroll-snap-align: none;
    }

    header {
        height: auto;
    }

    .video-wrap {
        margin-top: 100px;
        width: 100%;
        aspect-ratio: 16 / 9;
        position: relative;
        z-index: 0;
    }

    .dot-nav {
        display: none;
    }

    .nav {
        height: 100px;
        position: relative;
        justify-content: center;
    }

    .nav ul.gnb {
        display: none;
        transition: all 0.4s ease;
    }

    .nav p>a:first-child {
        display: none;
    }

    .nav p>.hamburger {
        display: block;
    }

    .nav p>.hamburger img {
        position: fixed;
        top: 35px;
        right: 40px;
        width: 32px;
        height: 32px;
        z-index: 300;
        transition: transform 0.3s ease;
    }

    .hamburger.active img {
        content: url("../image/close.png");
        transform: rotate(180deg);
        transform: scale(0.9);
        z-index: 10000000 !important;
        transition: all 0.4s ease;
    }

    .nav_warp {
        position: fixed;
        width: 100%;
        height: 100px;
        background: #FEF2E3;
        z-index: 10;
        transition: all 0.4s ease;
    }

    .nav_warp.shrink {
        height: 100px;
        background: #FEF2E3;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }

    .nav_warp:hover {
        height: 100px !important;
        background: #FEF2E3 !important;
    }

    .nav_warp .logo-default {
        display: none;
    }

    .nav_warp .logo-scrolled {
        display: block;
    }

    .nav ul.gnb>li>a {
        color: #650A30;
    }

    .gnb_title,
    .login,
    .nav p {
        font-size: 18px !important;
        color: #650A30 !important;
    }




    .menu {
        padding: 0;
        margin: 120px 0 140px;
        height: auto;
    }

    .store_menu {
        padding: 0;
        margin: 120px 0 270px;
        height: auto;
        padding: 100px 0 100px 0;
    }

    .menu_warp {
        height: 800px;
    }

    .store_menu_warp {
        height: 700px;
    }

    .store_info_warp {
        bottom: -130px;
    }

    .sns_warp {
        padding: 0;
        height: auto;
        margin-bottom: 50px;
    }

    .footer h1:nth-child(1) {
        display: none;
    }

    .footer h1:nth-child(2) {
        display: inline-block;
    }






    .mobile-menu {
        display: block;
        position: fixed;
        top: 0;
        right: -400px;
        width: 300px;
        height: 100vh;
        background: #fff;
        box-shadow: -4px 0 20px rgba(0, 0, 0, 0.1);
        z-index: 9999 !important;
        transition: right 0.4s ease;
        overflow-y: auto;
        padding: 100px 20px;
        transition: all 0.4s ease;
    }

    .mobile-menu.active {
        right: 0;
    }

    .menu-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.5);
        opacity: 0;
        visibility: hidden;
        transition: all 0.4s ease;
        z-index: 150;
        z-index: 9998 !important;
    }

    .menu-overlay.active {
        opacity: 1;
        visibility: visible;
    }

    .gnb-mobile li {
        border-bottom: 1px solid #eee;
    }

    .gnb-mobile li:last-child {
        border: none;
    }

    .gnb-mobile .gnb_title {
        font-size: 18px;
        color: #650A30;
        padding: 15px 0;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: none;
        border: none;
        width: 100%;
    }

    .gnb-mobile .dropdown-nav {
        display: none;
        position: static;
        top: auto;
        left: auto;
        background: transparent;
        box-shadow: none;
        margin: 0;
        padding-left: 16px;
        overflow: visible;
    }

    .gnb-mobile li.active>.dropdown-nav {
        display: block !important;
        max-height: none;
        visibility: visible;
        opacity: 1;
        transform: none;
    }

    .gnb-mobile li.active>.dropdown-nav {
        background: #fff;
        padding: 8px 12px;
    }

    .nav .dropdown-nav li {
        padding: 3px 0 3px 0;
    }

    .gnb-mobile .dropdown-nav li a {
        display: block;
        padding: 10px 0;
        font-size: 16px;
        color: #35081D;
    }

    .gnb-mobile .dropdown-nav>.dropdown-sub a {
        font-size: 14px !important;
        padding: 12px 12px;
    }

    .gnb-mobile .gnb_title::after {
        content: "▸";
        font-size: 14px;
        transition: transform 0.3s;
        color: #650A30;
    }

    .gnb-mobile li.active .gnb_title::after {
        transform: rotate(90deg);
    }

    .mobile-menu,
    .gnb-mobile,
    .gnb-mobile li {
        overflow: visible !important;
    }

    .mobile-menu,
    .mobile-menu * {
        overflow: visible !important;
        z-index: 9999 !important;
    }

    .menu_bar li:nth-child(1), .menu_bar li:nth-child(2), .menu_bar li:nth-child(3), .menu_bar li:nth-child(4) {
        margin: 0 -5px 0 -5px;
    }

    .footer h1 img {
    width: 150px;
    height: auto;
}
}

@media (max-width: 930px) {

    .menu_bar {
        flex-wrap: wrap;
    }

    .menu_bar li {
        flex: 1 1 45%;
        max-width: 270px;
    }

    .menu_list li:nth-child(3) {
        display: none;
    }

    .menu_bar li:nth-child(1) {
        border-bottom-right-radius: 25px;
    }

    .menu_bar li:nth-child(2) {
        clip-path: polygon(100% 0, 100% 100%, 0 100%, 5% 0);
        border-top-left-radius: 25px;
        border-top-right-radius: 10px;
    }

    .menu_bar li:nth-child(3) {
        clip-path: polygon(100% 0, 95% 100%, 0 100%, 0 0);
        border-bottom-right-radius: 25px;
        border-bottom-left-radius: 10px;
    }

    .menu_bar li:nth-child(4) {
        clip-path: polygon(100% 0, 100% 100%, 0 100%, 5% 0);
        border-top-left-radius: 25px;
        border-top-right-radius: 10px;
    }

    .store_info_list {
        gap: 10px 12px;
    }
}

@media (max-width: 870px) {

    .store_info_list li {
        flex-wrap: wrap;
        font-size: 15px;
    }

    .gnb_title {
        padding: 0 20px 0 20px;
    }
}

@media (max-width: 770px) {

    h2,
    .menu_warp p,
    .store_menu_warp p,
    .store_info h2>a {
        font-size: 33px;
    }

    .nav p>.hamburger img {
        top: 25px;
        right: 20px;
    }

    .nav,
    .nav_warp,
    .nav_warp.shrink,
    .nav_warp:hover {
        height: 80px !important;
    }

    .nav {
        position: relative;
        align-items: center;
    }

    .menu {
        margin: 100px 0 0 0;
    }

    .store_menu_list li:nth-child(3) {
        display: none;
    }

    .menu_warp {
        height: 750px;
    }

    .store_menu_warp {
        height: 650px;
    }

    .menu {
        margin-top: 100px;
    }

    .store_menu {
        padding: 100px 0 100px 0;
        margin: 100px 0 290px;
    }

    .store_info_warp {
        bottom: -180px;
        padding: 30px 0 20px 0;
    }

    .store_info {
        flex-direction: column;
        gap: 30px;
    }

    .store_info_list {
        justify-content: center;
        gap: 15px;
    }

    .footer {
        flex-direction: column;
    }

    .footer h1 {
        margin-bottom: 20px;
    }

    .footer_warp {
        margin-left: 0;
    }

    .slider_controls {
        gap: 40px;
    }
}

@media (max-width: 768px) {
    .slider4 {
        height: 425px;
    }
}

@media (max-width: 600px) {

    .menu_list li {
        gap: 20px;
    }

    .mobile-menu {
        width: 300px;
    }

    .menu_warp {
        height: 700px;
    }

    .store_menu_warp {
        height: 600px;
    }

    .menu_list, .store_menu_list {
        gap: 20px;
    }

    .menu_bar li.active::before,
    .menu_bar li.active::after,
    .store_menu_bar li.active::before,
    .store_menu_bar li.active::after {
        display: none;
    }

    .sns_warp {
        margin-bottom: 150px;
    }

    .slider_controls {
        position: relative;
    }

    .slider_controls span {
        position: absolute;
        bottom: -600px;
    }

    #prev {
        left: 35%;
        transition: all 0.4s ease;
    }

    #next {
        right: 35%;
        transition: all 0.4s ease;
    }

}

@media (max-width: 515px) {
    .menu_warp {
        height: 650px;
    }

    .store_menu_warp {
        height: 550px;
    }

    .menu {
        margin-top: 80px;
    }

    .store_info {
        gap: 30px;
    }

    .store_info_warp {
        bottom: -220px;
        padding: 40px 0 50px 0;
    }

    .store_menu {
        padding: 80px 0 80px 0;
        margin: 80px 0 300px;
    }

    .menu_list img {
        max-height: 280px;
    }

    .store_menu_list img {
        max-height: 200px;
    }

    .footer_list_01 {
        gap: 30px;
        transition: all 0.4s ease;
    }

    #prev {
        left: 25%;
    }

    #next {
        right: 25%;
    }
}

@media (max-width: 480px) {

    .nav p>.hamburger img {
        top: 15px;
    }

    .nav,
    .nav_warp,
    .nav_warp.shrink,
    .nav_warp:hover {
        height: 60px;
    }

    .video-wrap {
        margin-top: 60px;
    }

    .slider4 {
        height: 375px;
    }

    .mobile-menu {
        width: 230px;
    }

    .gnb-mobile .gnb_title {
        font-size: 18px !important;
    }

    .gnb-mobile .dropdown-nav li a {
        font-size: 16px !important;
    }

    .gnb-mobile .dropdown-nav>.dropdown-sub a {
        font-size: 14px !important;
    }

    .nav .dropdown-nav li {
        padding: 0;
    }

    .menu_bar li span, .store_menu_bar li span {
        font-size: 16px;
    }

    .slider_controls span {
        bottom: -550px;
    }

    #prev {
        left: 25%;
    }

    #next {
        right: 25%;
    }
}

@media (max-width: 400px) {

    h2,
    .menu_warp p,
    .store_menu_warp p,
    .store_info h2>a {
        font-size: 28px;
    }

    .nav p>.hamburger img {
        right: 15px;
    }

    .menu_bar li,
    .store_menu_bar li {
        width: 100%;
        height: 50px;
        border-radius: 5px;
    }

    .menu {
        margin-top: 50px;
    }

    .menu_warp {
        height: 500px;
    }

    .store_menu_warp {
        height: 400px;
    }

    .store_menu {
        padding: 50px 0 50px 0;
        margin: 50px 0 300px;
    }

    .slider_controls span {
        bottom: -490px;
    }

    .sns {
        gap: 40px;
    }

    .sns_warp {
        margin-bottom: 110px;
    }

    .menu_list img {
        max-height: 190px;
    }

    .store_menu_list img {
        max-height: 160px;
    }

    .menu_bar li:nth-child(1) {
        border-bottom-right-radius: 15px;
    }

    .menu_bar li:nth-child(2) {
        border-top-left-radius: 15px;
        border-top-right-radius: 5px;
    }

    .menu_bar li:nth-child(3) {
        border-bottom-right-radius: 15px;
        border-bottom-left-radius: 5px;
    }

    .menu_bar li:nth-child(4) {
        border-top-left-radius: 15px;
        border-top-right-radius: 5px;
    }
}

@media (max-width: 380px) {

    .footer_list_01 {
        gap: 20px;
    }

    .footer_warp ul>li {
        font-size: 13px;
    }

}


@media (max-width: 345px) {
    .footer_list_01 {
        gap: 10px;
    }
}

@media (max-width: 320px) {

    .menu_warp {
        height: 530px;
    }

    .store_menu_warp {
        height: 500px;
    }

    .store_menu {
        padding: 40px 0 40px 0;
        margin: 50px 0 300px;
    }

    .store_info_warp {
        bottom: -220px;
    }

    h2,
    .menu_warp p,
    .store_menu_warp p,
    .store_info h2>a {
        font-size: 22px;
    }

    .menu_bar li,
    .store_menu_bar li {
        width: 180px;
        height: 45px;
        border-radius: 5px;
    }

    .menu_bar li span,
    .store_menu_bar li span {
        font-size: 13px;
    }

    .footer_warp ul>li {
        font-size: 13px;
    }

    .footer h1 {
        margin-bottom: 40px;
    }

    .footer_warp {
        gap: 40px;
    }

    .footer_list_01 {
        gap: 10px;
    }

    .store_info h2>a {
        font-size: 20px;
    }

    .store_info_list li {
        font-size: 13px;
    }
    .sns {
        margin-top: 40px;
    }
}
